.DS_Store
.venvs/
__pycache__/

# Notebook Checkpoints
.ipynb_checkpoints/

#for now
notes.txt
/python/data/*
!/python/data/.keep
/python/output/*
!/python/output/.keep
/jmeter/**/*_output/*
!/jmeter/**/*_output/.keep